/*buradan xəttlənən hissəyə qədər ümumi istifadə olunacaq dizayn kodları
yerləşir*/

:root {
    /*root-un içində istifadə edəcəyim bütün rənglər var. lazım olduqda
    sadəcə burada dəyişiklik edə biləcəm.*/
    --bg-color: hsl(0, 0%, 86%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
    --button-and-number-color: hsl(259, 100%, 65%);
    --error-color: hsl(0, 100%, 67%);
    --border-and-label-color: hsl(0, 1%, 44%);
}


.labelText {
    /*Borderlərin üzərində olan Day, Moth, Year yazılarının dizaynı*/
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    color: var(--border-and-label-color);
    font-style: bold;
}

.h1NumberText {
    /*İl hesablandıqdan sonra ortaya çıxan rəqəmlərin dizaynı*/
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 64px;
    color: var(--button-and-number-color);
    font-style: italic;
}

.h1DateText {
    /* h1 rəqəmlərinin yanında gələcək year, moth, day yazılarının dizaynı*/
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 64px;
    color: var(--black);
    font-style: italic;
}

.pharagraphText {
    /*Border içində olacaq rəqəmlərin dizaynı*/
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
    font-style: bold;
}



* {
    /* ümumi reset kodu*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
}

.mainCard {
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px 12px 36px 12px;
    padding: 10px 16px;
}

.ageForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputsRow {
    display: flex;
    flex-direction: row;
}

.submitButton {
    display: flex;
    align-items: center;
    position: relative;
    margin: 64px 0;
}

.submitLine {
    width: 100%;
    border: none;
    border-top: 1px solid var(--border-and-label-color);
}

.submitBtn {
    position: absolute;
    background-color: var(--button-and-number-color);
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    top: 50%;
    left: 42%;

}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
}

.inputGroup input {
    border: 1px solid var(--border-and-label-color);
    border-radius: 8px;
    padding: 8px 12px;
    width: 88px;
    height: 56px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
}